*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  p{
    padding: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  .sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: navy;
    transition: all .5s ease;
  }
  .sidebar header{
    font-size: 22px;
    color: white;
    line-height: 55px;
    text-align: center;
    background: navy;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar a{
    display:block;
    height: 65px;
    width: 100%;
    color: navy;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
  a.active,a:hover{
    border-left: 5px solid #fff;
  }
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
    color: #fff;
  }
  .sidebar a span{
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 15px 30px;
    font-size: 29px;
    background: navy;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 10;
    visibility: visible;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0.7;
    visibility: visible;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  @media(max-width : 860px){
    .sidebar{
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
    }
    header,#btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: visible;
    }
    .sidebar a{
      height: 60px;
    }
    .sidebar a i{
      margin-left: -10px;
    }
  }
  .card{
    color: navy;
    background-color: #fff;
    padding-top: 60px;
    padding-left: 370px;
  }
  h3{
    text-align: center;
    margin-right: 80px;
    margin-bottom: 20px;
  }
  table{
    border-style: solid;
    border-color: navy;
    margin-bottom: 20px;
  }

  th{
    color: navy;
    padding: 20px;
    border-style: solid;
    border-color: grey;
  }

button{
    color: #fff;
    background-color: navy;
    padding: 10px;
    width: 100px;
}